body {
    margin: 0 auto;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    background-image: url('/static/img/bytes-bg.png');
    background-color: rgb(221, 237, 253);
    background-blend-mode: lighten;
}

a:hover {
  color:red;
}

h1.navbar-logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color :blue;
}

span.first-word {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    color: blue;
}

img.logo {
  margin: 20px;
}

span#logoExplain {
  text-decoration-style: none;
  color: blue;
  font: size 90%;
}

script {
  margin: 15px 10px 15px 10px;
  background-color: #FFC300;
  font-size: 75%;
}
