.desktopBody {
  margin: 0 auto;
  font-family: Tahoma, Verdana, Arial, sans-serif;
  background-image: url('/static/img/bytes-bg.png');
  background-color: rgb(221, 237, 253);
  background-blend-mode: lighten;
}

.mobileBody {
  margin: 0 auto;
  font-family: Tahoma, Verdana, Arial, sans-serif;
  background-color: seashell;
}

a {
  color:rgb(9, 9, 176);
}
a:hover {
  color:#ff503c;;
}

h1.navbar-logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color :rgb(36, 36, 210);
}

span.first-word {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-size: 200%;
    color: rgb(9, 9, 176);
}

textarea.mandatory, input.mandatory {
  border: 1px solid #ff503c;;
  background-color: #ffb7a7;
}

legend {
  color: rgb(9, 9, 176);
}

img.logo {
  margin: 20px;
}

div.signInFormErrors {
  color: red;
  font-size: small;
  text-align: left;
}

span#logoExplain {
  text-decoration-style: none;
  color:#ff503c;
  background-color: rgb(9, 9, 176);
  font: size 90%;
}

script {
  margin: 15px 10px 15px 10px;
  background-color: #FFC300;
  font-size: 75%;
}

code {
  font-size: 80%;
  background-color: rgb(121, 121, 121);
  color: white;
}
